@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  background: lightsteelblue;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.App.loading {
  justify-content: center;
}
header.Banner {
  height: 40vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
}
header.Banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(125, 216, 208, 0.18);
}
header.Banner > img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

main.main {
  background: lightsteelblue;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Search {
  width: 100%;
}
.Search > input {
  width: 50%;
  margin: auto;
  display: block;
  padding: 1rem 1.25rem;
  background: transparent;
  border: 2px solid #3a4967;
  border-radius: 25px;
  outline: none;
  font-family: inherit;
  color: #3a4967;
  font-size: 17px;
  font-weight: 600;
}
.Search > input::placeholder {
  color: #3a4967;
  font-weight: 400;
}
.Weather .Weather-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.Weather .Weather-row > img {
  width: 50px;
  margin-right: 1.5rem;
}
.Weather .Weather-row > p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.Loader {
  width: 170px;
}
@media (max-width: 843px) {
  .Search > input {
    width: 80%;
  }
}
